.container {
    align-items: center;
    text-align: center;
}


.cellContainer {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: var(--board-size);
    height: var(--board-size);
}

.cell {
    color: #FFF;
    border: solid #000 1px;
    width: var(--cell-size);
    height: var(--cell-size);
}

.hovered {
    background-color: #000;
}

#resetButton {
    margin: 10px;
}



